<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>Register</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">

        <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
        <script>
            (function () {
                angular
                        .module('register', [])
                        .controller('RegisterController', function ($scope, $http) {
                            $scope.data = {};

                            $scope.register = function () {
                                $http({
                                    method: 'POST',
                                    data: $scope.data,
                                    url: '/user/register',
                                }).then(function (response) {
                                    window.location = "home.html";
                                }, function (err) {
                                    alert("Username already exists");
                                });
                            };
                        });

            })();
        </script>
    </head>
    <body ng-app="register" ng-controller="RegisterController">
        <div class="col-md-6 col-md-offset-3">
            <h2>Register</h2>
            <form name="form" role="form" ng-submit="register()">
                <div class="form-group">
                    <label for="username">Username</label>
                    <input type="text" name="username" id="username" class="form-control" ng-model="data.username" required />
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" name="password" id="password" class="form-control" ng-model="data.password" required />
                </div>
                <div class="form-group">
                    <label for="phoneNumber">Phone Number</label>
                    <input name="phoneNumber" id="phoneNumber" class="form-control" ng-model="data.phoneNumber" required />
                </div>
                <div class="form-group">
                    <label for="birthDate">Birth Date</label>
                    <input type="date" name="birthDate" id="birthDate" class="form-control" ng-model="data.birthDate" required />
                </div>
                <div class="form-group">
                    <label for="salary">Salary</label>
                    <input type="number" name="salary" id="salary" class="form-control" ng-model="data.salary" required />
                </div>
                <div class="form-group">
                    <label for="liabilities">Liabilities</label>
                    <input type="number" name="liabilities" id="liabilities" class="form-control" ng-model="data.liabilities" required />
                </div>
                <div class="form-actions">
                    <button type="submit">Register</button>
                    <a href="/" class="btn btn-link">Login</a>
                </div>
            </form>
        </div>
    </body>
</html>
